body {
  font-size: 20px;
  font-family: $body-family;
  color: $dark;
}

h1,h2,h3,h4 {
  font-family: $display-family;
  color: $dark-highlight;
  font-weight: 900;
}

h1 {
  font-size: 4.236em;
}

h2 {
  font-size: 2.618em;
}

h3 {
  font-size: 1.618em;
}

.centered {
  text-align: center;
}
