$display-family: 'Alegreya', serif;
$body-family: 'Roboto', sans-serif;

$light: #ffffff;
$dark: #1a1a1a;

$dark-highlight: #111111;

$money: #45ada8;
$action: #9de0ad;
$action-button-font-color: $dark;

$nav-button: #e5fcc2;
$nav-button-font-color: $dark;
