$display-family: 'Alegreya', serif;
$body-family: 'Roboto', sans-serif;

$green-dark: #45ada8;
$green-mint: #9de0ad;
$green-pale: #e5fcc2;
$white: #ffffff;
$black: #1a1a1a;
$black-darker: #111111;

$action: $green-mint;
$action-button-font-color: $black;
$dark: $black;
$dark-highlight: $black-darker;
$light: $white;
$light-border: $green-mint;
$money: $green-dark;
$nav-button: $green-pale;
$nav-button-font-color: $dark;
