// scale: http://modularscale.com/scale/?px1=20&px2=205&ra1=1.618&ra2=0
// 20; 205
// Colors: http://www.colourlovers.com/palette/443995/i_demand_a_pancake
@import "layers";
@import "variables";
@import "typography";
@import "layouts";
@import "modules/buttons";
@import "modules/navigation";
@import "modules/new-products";
@import "modules/products";
@import "modules/store";
@import "modules/treasures";

body {
  padding: 0 1% 1% 1%;
  background: $light;
}

.hidden {
  display: none;
}
