@mixin button($color, $text-color) {
  background: $color;
  color: $text-color;
  text-decoration: none;
  &:hover {
    background: darken( $color, 10% );
  }
  &:disabled {
    background: grayscale($color);
    color: grayscale($text-color);
  }
}

.btn {
  padding: 1em;
}

.btn-nav {
  @include button($nav-button, $nav-button-font-color);
}

.btn-action {
  @include button($action, $action-button-font-color);
}