.main-nav-list {
  @extend .column;
  @extend .twelve;
  @extend .inline;
  @extend .plain;
  @extend .right;
}

.main-nav-search {
  padding: 0.88em;
}

.secondary-nav {
  text-align: right;
}

.search-results {
  background: $light;
  border: 1px solid $light-border;
  border-top: none;
  padding: 1%;
  position: fixed;
  right: 1%;
}