.buy-now {
  @extend .btn;
  @extend .btn-action;
  font-size: 1em;
  border: none;
}

.karma-available {
  font-size: 1.496em;
  text-align: right;
}

.product {
  @extend .column;
  @extend .twelve;
  margin-bottom: 1em;
}

.product-details {
  @extend .last;
}

.product-picture {
  display: block;
  right: 0;
  width: 100%;
}

.product-price,
.karma-number {
  color: $money;
}

.product-details,
.product-visual {
  @extend .column;
  @extend .six;
}
