.buy-now {
  @extend .btn;
  @extend .btn-action;
  font-size: 1em;
  border: none;
}

.karma-available {
  font-size: 1.496em;
  text-align: right;
}

.store-item-price,
.karma-number {
  color: $money;
}

%store-item {
  @extend .column;
  @extend .six;
  margin-bottom: 1em;
}

.store-item-last {
  @extend %store-item;
}

.store-item-left {
  @extend %store-item;
  border-right: 1px solid $light-border;
}

.store-item-right {
  @extend %store-item;
  @extend .last
}

.store-item-visual {
  @extend .column;
  @extend .six;
}

.store-item-details {
  @extend .column;
  @extend .six;
  @extend .last;
}
